<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CostControl"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.example.costcontrol.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.costcontrol.ui.category.CategoryListActivity"
            android:exported="false"
            android:label="Categorias" />
        <activity
            android:name="com.example.costcontrol.ui.category.CategoryCreateActivity"
            android:exported="false"
            android:label="Nova Categoria" />
        <activity
            android:name="com.example.costcontrol.ui.category.CategoryEditActivity"
            android:exported="false"
            android:label="Editar Categoria" />
        <activity
            android:name="com.example.costcontrol.ui.category.CategoryDeleteActivity"
            android:exported="false"
            android:label="Excluir Categoria" />

        <activity
            android:name="com.example.costcontrol.ui.cost.CostListActivity"
            android:exported="false"
            android:label="Custos" />
        <activity
            android:name="com.example.costcontrol.ui.cost.CostCreateActivity"
            android:exported="false"
            android:label="Novo Custo" />
        <activity
            android:name="com.example.costcontrol.ui.cost.CostEditActivity"
            android:exported="false"
            android:label="Editar Custo" />
        <activity
            android:name="com.example.costcontrol.ui.cost.CostDeleteActivity"
            android:exported="false"
            android:label="Excluir Custo" />

    </application>

</manifest>
